.main-content {
  -webkit-animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
          animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.card-about {
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  box-shadow: 8px 8px 0 0 #2196BA;
  transition: all 0.2s ease-out;
  border: 1px solid #2196BA;
  border-radius: 10px;
  padding: 2rem;
  font-family: 'Work Sans';
  font-size: .98rem;
  background-color: #F7F7F7;
}

.card-about a {
  color: rgba(0,0,0,0.8);
  border-bottom: 1.5px #D90429 dotted;
  cursor: pointer;
}

.card-about a:hover {
  border-bottom: 1.5px #0EAD69 dotted;
  text-decoration: none !important;
  color: #0EAD69;
  cursor: pointer;
  transition: color 0.6s ease;
}

.about-page .row {
  height: calc(100vh - 85px);
  display: flex;
  align-items: center;
}

.about-page h1 {
  text-align: right;
  margin-bottom: 25rem;
  animation: bounceInLeft 1s both;
}

.about-page .row h3 {
  text-align: center;
  font-weight: bold;
  animation: fadeInDown 3s both;
  animation-delay: 1s;
}
.about-page .row h3 a {
  color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 1199px) {
  .about-page h1 {
    text-align: left;
    margin-bottom: 0rem;
  }
  .about-page .row {
    height: auto;
  }
  .card-about {
    font-size: 13pt;
  }
  .card .card-text p {
    color: rgba(0,0,0,0.54);
    font-size: 12pt;
  }
}

@media screen and (max-width: 768px) {
  .about-page h1 {
    text-align: left;
    margin-bottom: 0rem;
  }
}    


#about {
@-webkit-keyframes slide-from-right {
  0% {-webkit-transform: translateX(150%);transform: translateX(150%)}
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
}

@keyframes slide-from-right {
  0% {-webkit-transform: translateX(150%);transform: translateX(150%)}
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
}

.biography-title {
  -webkit-animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
          animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}
  
@-webkit-keyframes slide-from-left {
  0% {-webkit-transform: translateX(-150%);transform: translateX(-150%)}
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
}

@keyframes slide-from-left {
  0% {-webkit-transform: translateX(-150%);transform: translateX(-150%)}
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
}

#profile {
  -webkit-animation: slide-from-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
          animation: slide-from-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

@-webkit-keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

.interests-div {
  opacity: 0;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.education-div {
  opacity: 0;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
}
